body {
  background-color: #333;
  color: #fff;
}

.App {
  text-align: center;
}

.page-title {
	margin: 10px 0 30px 0;
	text-transform: uppercase;
	color: #00ff89;
	font-size: 40px;
}

.input-wrapper {
	display: flex;
	justify-content: center;
}

.input-add-task {
	width: 700px;
	height: 40px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-size: 20px;
}

.button-create-task {
	margin-left: 20px;
	width: 120px;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;
	border: none;
	background: linear-gradient(120deg, #00ff89,#1e00ff);
	cursor: pointer;
}

.task-wrapper {
	display: flex;
	margin: 0 auto;
	width: 70%;
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.task-wrapper div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #fff;
	border: 1px solid #C0C0C0;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
	background-color: #555;
	font-weight: 600;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.button-wraper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.done {
	text-decoration: line-through;
	opacity: 0.3;
}

.edit-input {
	width: 800px;
	height: 40px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-size: 20px;
	margin-bottom: 10px;
}

.button-update-task {
	width: 100px;
	height: 30px;
	background-color: transparent;
	color: #0162c8;
	cursor: pointer;
	border: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
}

.button-undo-edit {
	width: 100px;
	height: 30px;
	background-color: transparent;
	color: red;
	cursor: pointer;
	border: none;font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
}


.button-complete-task {
	background: linear-gradient(90deg, #80ff00c3, #4a7222 );
}

.button-edit-task {
	background: linear-gradient(90deg, #FFD700, #865d12 );
}

.button-delete-task {
	background: linear-gradient(90deg, #f00c3a, #822134 );
}

.filter-button {
	position: relative;
	display: inline-block;
	padding: 12px 36px;
	background-color: transparent;
	border: none;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 2px;
	margin-bottom: 10px;
	cursor: pointer;
	font-weight: 600;
}

.button {
	position: relative;
	display: inline-block;
	padding: 6px 16px;
	margin: 0 6px;
	border-radius: 40px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	border: none;
	color: #fff;
}	

.button-selected {
	border-bottom: 2px solid #00ff89;
};

.task-exit-active {
	animation: fade-out 500ms forwards
}

.task-exit {
	animation: fade-out 500ms forwards;
}

.task-enter {
	animation: fade-in 500ms forwards;
}

.task-enter-active {
	animation: fade-in 500ms forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		transform: translateX(100px);
		opacity: 0;
	}
}









